<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139954956390-1umjkponjvu63k6k4ofr37a9bioduheg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139954956390-1umjkponjvu63k6k4ofr37a9bioduheg</string>
	<key>API_KEY</key>
	<string>AIzaSyBTz2w4bMSXCWS6DH0HXlye0GrED6o7Wns</string>
	<key>GCM_SENDER_ID</key>
	<string>139954956390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-Begginers.TaskApp</string>
	<key>PROJECT_ID</key>
	<string>task-aef6b</string>
	<key>STORAGE_BUCKET</key>
	<string>task-aef6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139954956390:ios:7be9f8de7efc16e03725a7</string>
</dict>
</plist>